#container {
  text-align: center;
  margin: 10px auto;
  width: 320px;
}

#main {
  padding: 20px;
  border: 1px solid black;
}

#history {
  display: block;
  border: 1px dashed grey;
  margin: 0 0 10px;
  padding: 1px;
  font-size: 1.2rem;
  text-align: left;
}

#value {
  max-width: 100%;
  font-size: 1.3rem;
  text-align: right;
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 7px 0;
}

button {
  display: inline-block;
  padding: 10px;
  font-size: 1.1rem;
  margin: 5px;
  width: 50px;
}
